/* Have fun. This is your site. */

html, body {
  margin: 0;
  padding: 0;
  height: 100%; /* Ensure full height of the viewport */
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #ffffff
}

h2 {
  font-family: 'Restora', sans-serif;
}

body {
  background: linear-gradient(135deg, #141e30, #243b55);
  background-size: cover;
}

h1 {
  text-align: center;
}

/* Main Container */
main {
  width: 100%;
  /* centers container to page */
  margin-inline: auto;
  
  /* adjust to your design */
  max-width: 40em;

}

#profile-photo{
  justify-content: center;
  display: flex;
  margin: 0 auto;
  transform: rotate(-90deg)
}

#myLinks {
  list-style: none; /* Remove default list styling */
  padding: 0;
  margin: 0;
}

.link-item {
  display: flex;
  align-items: center;
  gap: 8px; /* Optional: Add some space between the icon and the text */
}

.link-content {
  display: flex;
  text-decoration: none;
  color: #fff;
  font-size: 1.2em;
  transition: color 0.3s;
  font-family: 'Roboto', sans-serif;
}

.link-icon {
  width: 24px; /* Set a fixed size for the icon */
  height: 24px;
}

.link-content:hover {
  color: #007bff; /* Change text color on hover */
}

.button-container {
  position: fixed;
  top: 5%;
  right: 95%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  z-index: 1000;
  border-radius: 1px;
  border-color: red;
}

.link-container {
  position: fixed;
  top: 5%;
  left: 5%;
  display: flex;
  border: 2px solid transparent;
  border-radius: 5px;
  padding: 10px;
  /* border-color: linear-gradient(135deg, #141e30, #243b55); */
  animation: borderAnimation 10s ease infinite;
}

@keyframes borderAnimation {
  0% {
    border-color: #141e30;
  }
  33% {
    border-color: #ffffff;
  }
  66% {
    border-color: #243b55;
  }
  100% {
    border-color: #141e30;
  }
}

#helloText {
  font-size: 3rem;
  text-align: center;
  opacity: 0;
  animation: fadeInOut 7s infinite;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
